# Ignore virtual environment
.venv

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore Django database file (if using SQLite)
db.sqlite3

# Ignore environment variables (optional, if you later use .env files)
.env

# VS Code specific (optional, if you use VS Code)
.vscode/

# macOS specific (optional, to avoid macOS junk files)
.DS_Store